<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Rambla&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<style>
    html,
    body {
        font-family: 'Rambla', sans-serif;
        height: 90vh;
        width: 100%;
        background: #F9F6F7;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .row {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    p {
        font-size: 20px;
    }

    @media (min-width: 576px) {
        .container {
            max-width: 600px;
        }
    }
</style>

<body>
    <div class="container container-fluid px-0 mx-auto" id="main"
        style="text-align: center; margin-top: 30px; background-color: #F9F6F7;">
        <div class="container py-4" id="top" style="background-color: {{favoriteColor}};">
            <div id="image" style="margin-bottom: 10px;">
                <img src={{profileImg}} class="rounded-circle" style="width: 150px; height: auto;">
            </div>
            <div id="greeting" class="display-4">
                <h1>Hi!</h1>
                <h2>My name is {{name}}!</h2>
            </div>
            <div id="info">
                <span class="location"><i style="font-size:20px" class="fa">&#xf124;</i> <a
                        href={{locationLink}}>{{location}} </a></span>
                <span class="github"><i style="font-size:20px" class="fa">&#xf09b;</i> <a href={{githubProfile}}>GitHub
                    </a></span>
                <span class="blog"><i style="font-size:20px" class="fa">&#xf005;</i>
                    <a href={{blog}}>Blog</a></span>
            </div>
        </div>
        <div class="container" id="bottom" style="text-align: center;">
            <div class="bio" style="margin-top: 40px; margin-bottom: 30px">
                <h4>{{bio}}</h4>
            </div>
            <div class="row">
                <div class="col-5 py-4 mx-auto" style="background-color: {{favoriteColor}};">
                    <h4>Public Repositories:</h4>
                    <p>{{publicRepos}}</p>
                </div>
                <div class="col-5 py-4 mx-auto" style="background-color: {{favoriteColor}};">
                    <h4>Followers:</h4>
                    <p>{{followers}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-5 py-4 mx-auto" style="background-color: {{favoriteColor}};">
                    <h4>GitHub Stars:</h4>
                    <p>{{githubStars}}</p>
                </div>
                <div class="col-5 py-4 mx-auto" style="background-color: {{favoriteColor}};">
                    <h4>Following:</h4>
                    <p>{{following}}</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>